/* Custom fonts - https://www.recursive.design */

@font-face {
	font-family: recursivevariable;
	font-style: normal;
	font-display: swap;
	font-weight: 300 1000;
	src: url(/assets/fonts/recursive-latin-variable-wghtOnly-normal.woff2) format('woff2');
	unicode-range: U+0460-052F,U+1C80-1C88,U+20B4,U+2DE0-2DFF,U+A640-A69F,U+FE2E-FE2F
}

@font-face {
	font-family: recursivevariable;
	font-style: normal;
	font-display: swap;
	font-weight: 300 1000;
	src: url(/assets/fonts/recursive-latin-variable-wghtOnly-normal.woff2) format('woff2');
	unicode-range: U+0000-00FF,U+0131,U+0152-0153,U+02BB-02BC,U+02C6,U+02DA,U+02DC,U+2000-206F,U+2074,U+20AC,U+2122,U+2191,U+2193,U+2212,U+2215,U+FEFF,U+FFFD
}

/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*,
*::before,
*::after {
	box-sizing: border-box;
}
* {
	margin: 0;
}
html,
body {
	height: 100%;
}
body {
	line-height: 1.5;
	-webkit-font-smoothing: antialiased;
}
img,
picture,
video,
canvas,
svg {
	display: block;
	max-width: 100%;
}
input,
button,
textarea,
select {
	font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
	overflow-wrap: break-word;
}

/* Typography */

/* @link https://utopia.fyi/type/calculator?c=320,18,1.2,1240,20,1.25,5,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */
:root {
	--step--2: clamp(0.78rem, calc(0.77rem + 0.03vw), 0.8rem);
	--step--1: clamp(0.94rem, calc(0.92rem + 0.11vw), 1rem);
	--step-0: clamp(1.13rem, calc(1.08rem + 0.22vw), 1.25rem);
	--step-1: clamp(1.35rem, calc(1.28rem + 0.37vw), 1.56rem);
	--step-2: clamp(1.62rem, calc(1.5rem + 0.58vw), 1.95rem);
	--step-3: clamp(1.94rem, calc(1.77rem + 0.87vw), 2.44rem);
	--step-4: clamp(2.33rem, calc(2.08rem + 1.25vw), 3.05rem);
	--step-5: clamp(2.8rem, calc(2.45rem + 1.77vw), 3.82rem);
}

html {
	scroll-behavior: smooth;
}

body {
	font-family: "RecursiveVariable", system-ui, sans-serif;
	font-size: var(--step-0);
	color: var(--primary-color);
	font-variation-settings: "CASL" 0, "MONO" 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: 1000;
	margin-block-end: var(--space-2xs);
	line-height: normal;
	overflow-wrap: break-word;
}

* + h2,
* + h3,
* + h4,
* + h5,
* + h6 {
	margin-block-start: var(--space-m);
}

h1 {
	font-size: var(--step-5);
}

h2 {
	font-size: var(--step-4);
}

h3 {
	font-size: var(--step-3);
}

h4 {
	font-size: var(--step-2);
}

h5,
h6 {
	font-size: var(--step-1);
}

p,
blockquote,
li {
	max-width: calc(var(--grid-max-width) / 2);
}

*:is(p, ul, ol, blockquote, figure, pre, pre[class*="language-"]):not(
		:last-child
	) {
	margin-block-end: var(--space-s);
}

a {
	color: var(--primary-color);
	text-decoration-color: var(--secondary-color);
	padding-bottom: 0.35rem;
	text-underline-offset: 0.1rem;
	text-decoration-thickness: var(--thickness);
	text-decoration-skip-ink: auto;
	transition: var(--transition);
}

a:hover,
[aria-current]:not([aria-current="false"]) {
	text-underline-offset: 0.1rem;
	text-decoration-thickness: calc(3 * var(--thickness));
}

:where(h1, h2, h3, h4, h5, h6) a:not(:hover) {
	text-decoration: none;
}

pre code {
	font-size: var(--step--1) !important;
}

code {
	background-color: var(--quaternary-color);
	padding: 0 0.25rem;
	border-radius: 0.25rem;
	user-select: all;
	-webkit-user-select: all;
	word-break: break-word;
}

blockquote {
	font-variation-settings: "CASL" 1;
	border-inline-start: var(--border);
	padding-inline-start: 1rem;
	font-size: var(--step-1);
}

ol,
ul {
	padding-inline-start: 0;
	list-style-position: inside;
}

ul {
	list-style-type: square;
}

li:not(nav li) {
	margin-block: var(--space-2xs);
}

ol > li {
	list-style-type: decimal-leading-zero;
}

ol > li::marker {
	font-variant-numeric: tabular-nums;
}

hr {
	margin-block: var(--space-m);
	border: 0;
	border-top: var(--border);
}

img {
	position: relative;
	height: auto;
}

main img,
article img {
	border: var(--border);
}

.skip-link {
	position: absolute;
	padding: var(--space-2xs);
	text-align: center;
	left: 0;
	right: 0;
	transition: var(--transition);
	transform: translateY(-100%);
	background-color: var(--tertiary-color);
}

.skip-link:focus {
	z-index: 20;
	transform: translateY(0);
}

/* Layout */

/* @link https://utopia.fyi/space/calculator?c=320,18,1.2,1240,20,1.25,5,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */
:root {
	--space-3xs: clamp(0.31rem, calc(0.31rem + 0vw), 0.31rem);
	--space-2xs: clamp(0.56rem, calc(0.54rem + 0.11vw), 0.63rem);
	--space-xs: clamp(0.88rem, calc(0.85rem + 0.11vw), 0.94rem);
	--space-s: clamp(1.13rem, calc(1.08rem + 0.22vw), 1.25rem);
	--space-m: clamp(1.69rem, calc(1.62rem + 0.33vw), 1.88rem);
	--space-l: clamp(2.25rem, calc(2.16rem + 0.43vw), 2.5rem);
	--space-xl: clamp(3.38rem, calc(3.24rem + 0.65vw), 3.75rem);
	--space-2xl: clamp(4.5rem, calc(4.33rem + 0.87vw), 5rem);
	--space-3xl: clamp(6.75rem, calc(6.49rem + 1.3vw), 7.5rem);

	/* One-up pairs */
	--space-3xs-2xs: clamp(0.31rem, calc(0.2rem + 0.54vw), 0.63rem);
	--space-2xs-xs: clamp(0.56rem, calc(0.43rem + 0.65vw), 0.94rem);
	--space-xs-s: clamp(0.88rem, calc(0.74rem + 0.65vw), 1.25rem);
	--space-s-m: clamp(1.13rem, calc(0.86rem + 1.3vw), 1.88rem);
	--space-m-l: clamp(1.69rem, calc(1.4rem + 1.41vw), 2.5rem);
	--space-l-xl: clamp(2.25rem, calc(1.73rem + 2.61vw), 3.75rem);
	--space-xl-2xl: clamp(3.38rem, calc(2.81rem + 2.83vw), 5rem);
	--space-2xl-3xl: clamp(4.5rem, calc(3.46rem + 5.22vw), 7.5rem);

	/* Custom pairs */
	--space-s-l: clamp(1.13rem, calc(0.65rem + 2.39vw), 2.5rem);
}

/* @link https://utopia.fyi/grid/calculator?c=320,18,1.2,1240,20,1.25,5,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */
:root {
	--grid-max-width: 77.5rem;
	--grid-gutter: var(
		--space-m-l,
		clamp(1.13rem, calc(0.65rem + 2.39vw), 2.5rem)
	);
	--grid-columns: 12;
}

body {
	background-color: var(--tertiary-color);
}

body > header {
	display: grid;
	grid-template-columns: calc(2 * var(--grid-gutter) + var(--thickness)) 1fr;
	padding-inline-end: var(--grid-gutter);
	gap: var(--grid-gutter);
	border-block-end: var(--border);
}

body > header > :first-child {
	border-inline-end: var(--border);
	display: grid;
	place-items: center;
	padding: 0;
}

body > header > a > svg {
	fill: var(--primary-color);
	transition: var(--transition);
}

body > header > a:hover > svg {
	transform: scale(1.1) rotate(180deg);
}

@media screen and (min-width: 550px) {
	body {
		display: grid;
		grid-template-rows: calc(3 * var(--grid-gutter)) 1fr auto;
		grid-template-columns: calc(3 * var(--grid-gutter)) repeat(
				var(--grid-columns),
				1fr
			);
	}

	body > header {
		padding: 0;
		grid-column: 1 / span 13;
		grid-template-columns: calc(3 * var(--grid-gutter) + var(--thickness)) 1fr;
	}
}

body > footer {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
}

body > footer > p {
	margin-block-end: 0 !important;
}

body > footer > nav ul {
	display: flex;
	flex-wrap: wrap;
	flex: 1;
	align-items: center;
	padding: 0;
	list-style: none;
	column-gap: var(--grid-gutter);
}

main,
article,
footer:not(article footer) {
	grid-column: 2 / span 12;
	padding: var(--grid-gutter);
	max-width: var(--grid-max-width);
}

@media screen and (min-width: 550px) {
	main,
	article,
	footer:not(article footer) {
		border-inline-start: var(--border);
	}
}

article header {
	margin-block-end: var(--grid-gutter);
}

.two-col {
	display: flex;
	flex-wrap: wrap;
	gap: var(--grid-gutter);
}

:where(.two-col) > :first-child {
	flex-grow: 1;
}

:where(.two-col) > :nth-child(2) {
	flex-basis: 0;
	flex-grow: 999;
	min-inline-size: 50%;
}

:where(article, .two-col) footer {
	margin-block-start: var(--grid-gutter);
	padding-block: var(--space-xs-s);
	border-block-start: var(--border);
	display: flex;
	justify-content: space-between;
}

:where(article, .two-col) footer > p {
	text-align: end;
}

:where(article, .two-col) footer > div > p {
	font-weight: 800;
}

:where(article, .two-col) footer ul {
	list-style: none;
	padding: 0;
	font-size: var(--step--1);
}

.button {
	margin-block: var(--space-2xs);
	display: inline-block;
	padding-inline: var(--space-s);
	padding-block: var(--space-2xs);
	background-color: var(--quaternary-color);
	border: var(--border);
	text-decoration: none;
	font-size: var(--step--1);
}

.button:hover {
	background-color: var(--primary-color);
	color: var(--tertiary-color);
}

section {
	margin-block-end: calc(1 * var(--grid-gutter));
}

:where(ul, ol).big-words {
	font-size: var(--step-2);
	line-height: normal;
}

ol.big-words > :first-child {
	text-decoration-line: line-through;
	text-decoration-color: var(--primary-color);
}

.big-words li {
	max-width: unset;
	margin-block: var(--space-s);
}

.tags {
	display: flex;
	flex-wrap: wrap;
	column-gap: var(--space-xs);
	list-style: none;
	padding: 0;
}

.tags a {
	background-color: var(--quaternary-color);
	padding: var(--space-3xs) 0 var(--space-3xs) var(--space-3xs);
	text-decoration: none;
}

.tags a:hover {
	background-color: var(--primary-color);
	color: var(--tertiary-color);
}

.tags a > span {
	padding: var(--space-3xs);
	background-color: var(--primary-color);
	color: var(--tertiary-color);
	margin-inline-start: var(--space-3xs);
}

#quote {
	align-self: center;
	font-size: var(--step--1);
	user-select: all;
	-webkit-user-select: all;
}

.stats {
	display: flex;
	list-style: none;
	align-items: top;
	gap: var(--grid-gutter);
	padding: 0;
	flex-wrap: wrap;
}

.stats li {
	padding: var(--space-xs);
	margin: 0;
	background-color: var(--quaternary-color);
	text-align: left;
	min-width: 30%;
	flex-grow: 1;
}

.stats li span {
	font-weight: 300;
	font-size: var(--step-5);
	display: block;
}

table {
	border: var(--border);
	padding: var(--space-xs);
}

td,
th {
	padding: var(--space-2xs);
	border-block-end: var(--border);
}

td:not(:first-child) {
	border-inline-start: var(--border);
}

.capitalize {
	text-transform: capitalize;
}

code[class*=language-],pre[class*=language-] {
	color: #f8f8f2;
	background: 0 0;
	text-shadow: 0 1px rgba(0,0,0,.3);
	font-family: Consolas,Monaco,andale mono,ubuntu mono,monospace;
	font-size: 1em;
	text-align: left;
	white-space: pre;
	word-spacing: normal;
	word-break: normal;
	word-wrap: normal;
	line-height: 1.5;
	-moz-tab-size: 4;
	-o-tab-size: 4;
	tab-size: 4;
	-webkit-hyphens: none;
	-moz-hyphens: none;
	-ms-hyphens: none;
	hyphens: none
}

pre[class*=language-] {
	padding: 1em;
	margin: .5em 0;
	overflow: auto;
	border-radius: .3em
}

:not(pre)>code[class*=language-],pre[class*=language-] {
	background: #272822
}

:not(pre)>code[class*=language-] {
	padding: .1em;
	border-radius: .3em;
	white-space: normal
}

.token.comment,.token.prolog,.token.doctype,.token.cdata {
	color: #8292a2
}

.token.punctuation {
	color: #f8f8f2
}

.token.namespace {
	opacity: .7
}

.token.property,.token.tag,.token.constant,.token.symbol,.token.deleted {
	color: #f92672
}

.token.boolean,.token.number {
	color: #ae81ff
}

.token.selector,.token.attr-name,.token.string,.token.char,.token.builtin,.token.inserted {
	color: #a6e22e
}

.token.operator,.token.entity,.token.url,.language-css .token.string,.style .token.string,.token.variable {
	color: #f8f8f2
}

.token.atrule,.token.attr-value,.token.function,.token.class-name {
	color: #e6db74
}

.token.keyword {
	color: #66d9ef
}

.token.regex,.token.important {
	color: #fd971f
}

.token.important,.token.bold {
	font-weight: 700
}

.token.italic {
	font-style: italic
}

.token.entity {
	cursor: help
}
