:root {
  --color-1: #000;
  --color-2: #cb3300;
  --color-3: #333;
  --color-4: #eee;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  overflow-y: scroll;
  height: 100%;
  font: 100%/1.5 sans-serif;
  word-wrap: break-word;
  margin: 0 auto;
  padding: 1.5em;
  background-color: var(--color-4);
  color: var(--color-1);
}

@media (min-width: 768px) {
  html {
    font-size: 1.25rem;
    max-width: 42em;
  }
}

h1, h2, h3, h4 {
  margin: 2.5rem 0 1.5rem 0;
  line-height: 1.25;
  color: var(--color-3);
}

.direct-link {
  display: none;
}

h2:hover .direct-link,
h3:hover .direct-link,
h4:hover .direct-link {
  display: inline;
}

a {
  color: var(--color-2);
  text-decoration: none;
}
a:hover, a:focus, a:active {
  text-decoration: underline;
}

p {
  margin: 1em 0;
  line-height: 1.5;
}
p code {
  background-color: var(--color-3);
  padding: 0.05em 0.2em;
  color: var(--color-4);
  border-radius: 0.3rem;
}

ol, ul {
  margin: 1em;
}
ol li ol, ol li ul, ul li ol, ul li ul {
  margin: 0 2em;
}
ol li p, ul li p {
  margin: 0;
}

dl {
  font-family: monospace, monospace;
}
dl dt {
  font-weight: bold;
}
dl dd {
  margin: -1em 0 1em 1em;
}

img {
  max-width: 100%;
  display: block;
  margin: 0 auto;
  padding: 0.5em;
}

blockquote {
  padding-left: 1em;
  font-style: italic;
  border-left: solid 1px var(--color-2);
}

table {
  font-size: 1rem;
  text-align: left;
  caption-side: bottom;
  margin-bottom: 2em;
}
table * {
  border: none;
}
table thead, table tr {
  display: table;
  table-layout: fixed;
  width: 100%;
}
table tr:nth-child(even) {
  background-color: rgba(200, 200, 200, 0.2);
}
table tbody {
  display: block;
  max-height: 70vh;
  overflow-y: auto;
}
table td, table th {
  padding: 0.25em;
}

table, .highlight > pre, pre.example {
  max-height: 70vh;
  margin: 1em 0;
  padding: 1em;
  overflow: auto;
  font-size: 0.85rem;
  font-family: monospace, monospace;
  border: 1px dashed rgba(250, 100, 50, 0.5);
}

.title {
  font-size: 2.5em;
}

.tags {
  margin-top: -1.5rem;
  padding-bottom: 1.5em;
}
.tags li {
  display: inline;
  margin-right: 0.5em;
}

figure {
  margin: 1em 0;
}
figure figcaption {
  font-family: monospace, monospace;
  font-size: 0.75em;
  text-align: center;
  color: var(--color-3);
}

.footnote-definition sup {
  margin-left: -1.5em;
  float: left;
}

.footnote-definition .footnote-body {
  margin: 1em 0;
  padding: 0 1em;
  border: 1px dashed rgba(250, 100, 50, 0.3);
  background-color: rgba(200, 200, 200, 0.2);
}
.footnote-definition .footnote-body p:only-child {
  margin: 0.2em 0;
}

header {
  display: flex;
  justify-content: space-between;
}
header nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header a + a {
  margin-left: 1rem;
}

.posts {
  margin: 0;
  list-style: none;
}
.posts .post a {
  display: flex;
  padding: 0.5em 0;
  color: var(--color-1);
}
.posts .post a:hover, .posts .post a:focus, .posts .post a:active {
  text-decoration: none;
  background: var(--color-4);
}
.posts .post date {
  font-family: monospace, monospace;
  font-size: 0.8rem;
  vertical-align: middle;
  padding-right: 2rem;
  color: var(--color-3);
}

.featured-image {
  height: auto;
}

.pagination {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.pagination *:first-child {
  margin-left: 0;
}

.tags-list,
.tags-list > a {
  display: block;
}

.caption {
  text-align: center;
  margin-top: 0;
  font-size: 0.7rem;
}

footer {
  text-align: center;
  padding: 0.5rem 0;
}

.pagination * {
  padding: 0 0.5rem;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-1: #eee;
    --color-2: #ff4000;
    --color-3: #cccccc;
    --color-4: #000;
  }
}


/**
 * okaidia theme for JavaScript, CSS and HTML
 * Loosely based on Monokai textmate theme by http://www.monokai.nl/
 * @author ocodia
 */

 code[class*="language-"],
 pre[class*="language-"] {
   color: #f8f8f2;
   background: none;
   text-shadow: 0 1px rgba(0, 0, 0, 0.3);
   font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
   font-size: 1em;
   text-align: left;
   white-space: pre;
   word-spacing: normal;
   word-break: normal;
   word-wrap: normal;
   line-height: 1.5;
 
   -moz-tab-size: 4;
   -o-tab-size: 4;
   tab-size: 4;
 
   -webkit-hyphens: none;
   -moz-hyphens: none;
   -ms-hyphens: none;
   hyphens: none;
 }
 
 /* Code blocks */
 pre[class*="language-"] {
   padding: 1em;
   margin: .5em 0;
   overflow: auto;
   border-radius: 0.3em;
 }
 
 :not(pre) > code[class*="language-"],
 pre[class*="language-"] {
   background: #272822;
 }
 
 /* Inline code */
 :not(pre) > code[class*="language-"] {
   padding: .1em;
   border-radius: .3em;
   white-space: normal;
 }
 
 .token.comment,
 .token.prolog,
 .token.doctype,
 .token.cdata {
   color: slategray;
 }
 
 .token.punctuation {
   color: #f8f8f2;
 }
 
 .token.namespace {
   opacity: .7;
 }
 
 .token.property,
 .token.tag,
 .token.constant,
 .token.symbol,
 .token.deleted {
   color: #f92672;
 }
 
 .token.boolean,
 .token.number {
   color: #ae81ff;
 }
 
 .token.selector,
 .token.attr-name,
 .token.string,
 .token.char,
 .token.builtin,
 .token.inserted {
   color: #a6e22e;
 }
 
 .token.operator,
 .token.entity,
 .token.url,
 .language-css .token.string,
 .style .token.string,
 .token.variable {
   color: #f8f8f2;
 }
 
 .token.atrule,
 .token.attr-value,
 .token.function,
 .token.class-name {
   color: #e6db74;
 }
 
 .token.keyword {
   color: #66d9ef;
 }
 
 .token.regex,
 .token.important {
   color: #fd971f;
 }
 
 .token.important,
 .token.bold {
   font-weight: bold;
 }
 .token.italic {
   font-style: italic;
 }
 
 .token.entity {
   cursor: help;
 }