---
layout: layouts/page.njk
title: Tags
eleventyNavigation:
  key: Tags
  order: 4
---

<header class="w-full mx-auto mb-12 text-left">
  <h1 class="mb-3 text-3xl font-bold leading-tight text-gray-900 md:text-4xl dark:text-gray-50">
    Tags
  </h1>
</header>

{% include "partials/_tags.njk" %}
