<footer class="bg-gray-100 dark:bg-gray-800">
  <div class="mt-4 mx-auto">
    {# <hr class="h-px my-6 bg-gray-300 border-none dark:bg-gray-700"> #}
    <div class="border-t mt-6 border-gray-300 dark:border-gray-700">
      <p class="pt-4 text-center text-gray-800 dark:text-white font-bold">&copy;2020–Today / Copyright {{ metadata.author.name }}. All rights reserved.</p>
      <p class="pt-4 pb-6 text-center text-gray-800 dark:text-white text-sm">This site is built with <a href="{{metadata.technology.framework | url}}" target="_blank" class="text-blue-600 dark:text-blue-500 hover:text-blue-600 dark:hover:text-blue-600">11ty</a> and hosted on <a href="{{metadata.technology.hosting | url}}" target="_blank" class="text-blue-600 dark:text-blue-500 hover:text-blue-600 dark:hover:text-blue-600">Vercel</a>. The source code is hosted on <a href="{{metadata.technology.source | url}}" target="_blank" class="text-blue-600 dark:text-blue-500 hover:text-blue-600 dark:hover:text-blue-600">Github</a>. </p>
    </div>
  </div>
</footer>