<header>
  <div class="shadow">
    <div class="container px-6 py-4 mx-auto flex justify-between items-center">
      <div class="flex items-center justify-between">
        <div>
          <a class="text-2xl font-bold transition-colors duration-200 transform lg:text-3xl"
            href="/">{{ metadata.title }}</a>
        </div>
      </div>
      <div class="items-center flex">
        <nav aria-label="Main Navigation" tabindex="-1" id="main-nav">
          <ul class="hidden md:flex flex-col md:flex-row md:mx-6">
            {%- for entry in collections.all | eleventyNavigation %}
              <li class="my-1 font-medium md:mx-4 md:my-0"><a class="transition-colors duration-200 transform hover:text-blue-600 dark:hover:text-blue-600"
                href="{{ entry.url | url }}" {%if entry.url == page.url%}aria-current="page"{% endif %}>{{ entry.title }}</a></li>
            {%- endfor %}
          </ul>
        </nav>
        <div class="flex flex-row gap-6">
          {% include "search.njk" %}
          <button id="mode-toggle" class="mode-toggle is-ready" aria-label="Toggle dark mode" title="Toggle dark mode">
            <span class="mode-toggle-icons">
              <svg aria-hidden="true" role="presentation" xmlns="http://www.w3.org/2000/svg" class="inline-block h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                <path stroke-linecap="round" stroke-linejoin="round" d="M20.354 15.354A9 9 0 018.646 3.646 9.003 9.003 0 0012 21a9.003 9.003 0 008.354-5.646z" />
              </svg>
              <svg aria-hidden="true" role="presentation" xmlns="http://www.w3.org/2000/svg" class="inline-block h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                <path stroke-linecap="round" stroke-linejoin="round" d="M12 3v1m0 16v1m9-9h-1M4 12H3m15.364 6.364l-.707-.707M6.343 6.343l-.707-.707m12.728 0l-.707.707M6.343 17.657l-.707.707M16 12a4 4 0 11-8 0 4 4 0 018 0z" />
              </svg>
            </span>
          </button>
        </div>
      </div>
    </div>
  </div>
</header>