<div class="border-b border-grey-lighter py-16 lg:py-20">
  <div>
    <img src="/assets/images/profile-pic.jpg" class="h-20 w-20 rounded-full" alt="author">
  </div>
  <h1 class="pt-3 font-body text-4xl font-semibold text-primary dark:text-white md:text-5xl lg:text-6xl">
    Hi, I’m {{ metadata.author.name }}.
  </h1>
  <p class="pt-3 font-body text-xl font-light text-primary dark:text-white">{{ metadata.author.description }}</p>
  <a href="{{ metadata.author.url | url }}" class="mt-12 block bg-secondary px-10 py-4 text-center font-body text-xl font-semibold text-white transition-colors hover:bg-green sm:inline-block sm:text-left sm:text-2xl">
    Say Hello!
  </a>
</div>