{# Pagination starts #}
<nav class="pagination">
  {% if page.url != pagination.href.first %}
    <a href="{{ pagination.href.first }}" class="prev" aria-label="Previous page">&lt;</a>
  {% endif %}
  {% for pageEntry in pagination.pages %}
    {% if page.url == pagination.hrefs[ loop.index0 ] %}
      <span {% if page.url == pagination.hrefs[ loop.index0 ] %} aria-current="page"{% endif %}>{{ loop.index }}<span>
    {% else %}
      <a href="{{ pagination.hrefs[ loop.index0 ] }}" class="{% if page.url == pagination.hrefs[ loop.index0 ] %}current{% else %}{% endif %}" {% if page.url == pagination.hrefs[ loop.index0 ] %} aria-current="page"{% endif %}>{{ loop.index }}</a>
    {% endif %}
  {% endfor %}
  {% if pagination.href.next %}
  <a class="next" href="{{ pagination.href.next }}" aria-label="Next page">&gt;</a>
  {% endif %}
</nav>
{# Pagination ends #}