<ul reversed class="posts" style="counter-reset: start-from {{ (postslistCounter or postslist.length) + 1 }}">
  {% for post in posts %}
    <li class="post">
      <a href="{{ post.url | url }}">
        <date datetime="{{ post.date | htmlDateString }}">{{ post.date | readableDate }}</date>
        <span>{% if post.data.title %}{{ post.data.title }}{% else %}<code>{{ post.url }}</code>{% endif %}</span>
      </a>
    </li>
  {% endfor %}
</ul>