<div class="px-3 max-w-full w-full mx-auto my-14 gap-6 flex flex-col">
  <hr aria-hidden="true" class="border-t w-8 border-t-gray-100" />
  <div class="flex border-gray-100 border p-6 gap-6">
    <img src="/assets/images/profile-pic-96x96.jpg" class="min-w-[96px] w-24 min-h-[96px] h-24 object-cover" />
    <div>
      <p class="font-bold">{{ metadata.author.name }}</p>
      <p class="text-gray-200">{{ metadata.author.description }}</p>
    </div>
  </div>
</div>
