<div class="flex border-gray-100 border p-6 gap-6">
  <img src="/assets/images/profile-pic-96x96.jpg" alt="Gurpreet Singh profile picture" class="min-w-[96px] w-24 min-h-[96px] h-24 object-cover" />
  <div>
    <p class="font-bold">{{ metadata.author.name }}</p>
    <p class="text-gray-200">{{ metadata.author.description }}</p>
  </div>
</div>