<footer class="w-full bg-black text-gray-100 flex text-sm p-4">
	<div class="flex justify-between max-w-7xl mx-auto w-full px-5">
		<span class="italic flex-grow">&copy;2023 {{ metadata.metaTitle }}</span>
		<nav class="flex gap-2">
			<a rel="me" href="{{ metadata.author.mastodon }}" class="hover:text-white" title="Link to my Mastodon page">Mastodon</a>
			<a rel="me" href="{{ metadata.author.github }}" class="hover:text-white" title="Link to my Github page">GitHub</a>
			<a rel="me" href="{{ "/feed/feed.xml" | url }}" class="hover:text-white" title="Link to my RSS feed">RSS</a>
		</nav>
	</div>
</footer>