<header class="flex flex-col my-5 max-w-7xl mx-auto w-full px-5">
  <div class="flex justify-between items-center gap-5 flex-col sm:flex-row mb-4 lg:mb-11">
    <a class="block font-semibold text-3xl text-teal-600 dark:text-teal-500" href="/">{{ metadata.title }}</a>
    <nav>
      <div class="fade flex gap-4 flex-wrap items-start justify-start">
        {%- for entry in collections.all | eleventyNavigation %}
          <a class="underline" href="{{ entry.url | url }}" {%if entry.url == page.url%}aria-current="page"{% endif %}>{{ entry.title }}</a>
        {%- endfor %}
        <a class="underline" href="{{ "/feed/feed.xml" | url }}">RSS</a>
      </div>
    </nav>
  </div>
</header>