.overflow-table {
  overflow-x: auto;
  width: 100%;
}

table {
  border-collapse: collapse;
  width: 100%;
}

table td,
table th {
  border: 1px solid var(--color-primary);
  padding: 8px;
  font-size: 1.25rem;
  line-height: 1.7;
}

table td code {
  font-size: 1em !important;
}

table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: var(--color-highlight);
  color: var(--color-primary);
}
