{% set currentUrl = site.url + page.url %}
{% if '/posts/' in page.url and page.url !== "/posts/" %}
  <script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "NewsArticle",
      "mainEntity": {
          "@type": "WebPage",
          "@id": "{{ currentUrl }}"
      },
      "headline": "{{ title }} - {{ site.name }} - {{ site.authorName }}",
      "name": "{{ title }} - {{ site.name }} - {{ site.authorName }}",
      "description": "{{ excerpt }}",
      "image": "{{ site.authorImage }}",
      "author": {
          "@type": "Person",
          "name": "{{ site.authorName }}",
          "url": "{{ site.mastodon }}"
      },
      "creator": ["{{ site.authorName }}"],
      "dateCreated": "{{ date | w3DateFilter }}",
      "datePublished": "{{ date | w3DateFilter }}",
      "dateModified": "{{ page.inputPath | stat("mtime") | w3DateFilter }}",
      "publisher": {
          "@type": "Organization",
          "name": "{{ site.name }}",
          "logo": {
              "@type": "ImageObject",
              "url": "{{ site.authorImage }}",
              "width": 500,
              "height": 500
          }
      },
      "mainEntityOfPage": "{{ currentUrl }}"
    }
  </script>
{% endif %}