<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ metadata.metaTitle + " - " + title }}</title>
    <meta name="description" content="{{ description or metadata.description }}">
    <meta name="generator" content="{{ eleventy.generator }}">

    <meta itemprop="name" content="{{ title }} - {{ metadata.metaTitle }}">
    <meta itemprop="description" content="{{ excerpt or metadata.description }}">

    <link rel="shortcut icon" href="{{ '/assets/favicons/favicon.ico' | url }}">
    <link rel="icon" type="image/png" href="{{ '/assets/favicons/favicon-32x32.png' | url }}" sizes="32x32">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ '/assets/favicons/apple-touch-icon.png' | url }}">

    <meta name="twitter:title" content="{{ title }} - {{ metadata.metaTitle }}">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:description" content="{{ excerpt or metadata.description }}">
    <meta name="twitter:site" content="{{metadata.author.creator}}">
    <meta name="twitter:creator" content="{{metadata.author.creator}}">
    <meta name="twitter:image" content="{{metadata.url}}{{ image or metadata.author.image }}">

    <meta name="og:title" content="{{ title }} - {{ metadata.metaTitle }}">
    <meta name="og:description" content="{{ excerpt or metadata.description }}">
    <meta name="og:image" content="{{metadata.url}}{{ image or metadata.author.image }}">
    {% set canonical = metadata.url + page.url %}
    <link rel="canonical" href="{{ canonical | url }}" />
    <meta name="og:url" content="{{ canonical | url }}">
    <meta name="og:site_name" content="{{ metadata.metaTitle }}">
    <meta name="og:locale" content="en_GB">
    <meta name="og:type" content="website">
    <link rel="manifest" href="/site.webmanifest">

    <link rel="stylesheet" href="{{ '/assets/css/output.css' | url }}">
    <link href="https://unpkg.com/prismjs@1.20.0/themes/prism-okaidia.css" rel="stylesheet">
    <link rel="alternate" href="{{ metadata.feed.path | url }}" type="application/atom+xml" title="{{ metadata.title }}">
    <link rel="alternate" href="{{ metadata.jsonfeed.path | url }}" type="application/json" title="{{ metadata.title }}">
    <script>
      // On page load or when changing themes, best to add inline in `head` to avoid FOUC
      if (localStorage.theme === 'dark' || (!('theme' in localStorage) && window.matchMedia('(prefers-color-scheme: dark)').matches)) {
        document.documentElement.classList.add('dark')
      } else {
        document.documentElement.classList.remove('dark')
      }
    </script>
  </head>
  <body class="text-gray-600 dark:text-gray-300">
    {% include "../header.njk" %}
    <main{% if templateClass %} class="{{ templateClass }}"{% endif %}>
      {{ content | safe }}
    </main>
    {% include "../footer.njk" %}
    <!-- Current page: {{ page.url | url }} -->
    <script src="https://cdn.jsdelivr.net/npm/algoliasearch@4.5.1/dist/algoliasearch-lite.umd.js" integrity="sha256-EXPXz4W6pQgfYY3yTpnDa3OH8/EPn16ciVsPQ/ypsjk=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/instantsearch.js@4.8.3/dist/instantsearch.production.min.js" integrity="sha256-LAGhRRdtVoD6RLo2qDQsU2mp+XVSciKRC8XPOBWmofM=" crossorigin="anonymous"></script>
    <script src="{{ '/assets/js/app.js' | url }}"></script>
    <script async defer data-website-id="be37258c-ab65-4498-a0e0-2c79ed7ac36f" src="https://umami-production-6eb3.up.railway.app/umami.js"></script>
  </body>
</html>
