<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="shortcut icon" href="{{ '/assets/favicons/favicon.ico' }}" />
    <link rel="icon" type="image/png" href="{{ '/assets/favicons/favicon-32x32.png' | url }}" sizes="32x32" />
    <link rel="icon" type="image/png" href="{{ '/assets/favicons/android-chrome-192x192.png' | url }}" sizes="192x192" />
    <link rel="icon" type="image/png" href="{{ '/assets/favicons/android-chrome-512x512.png' | url }}" sizes="512x512" />
    <link rel="apple-touch-icon" href="{{ '/assets/favicons/apple-touch-icon.png' | url }}" />
    
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="color-scheme" content="light dark" />
    <meta name="msapplication-TileColor" content="#F9FAFB" />
    <meta name="theme-color" content="#F9FAFB" />

    {% set secondTitle = "" if page.url === "/" else " - " + title %}
    {% set keywords = keywords or "CSS, front-end, web design, consulting, architecture" %}
    
    <title>{{ metadata.metaTitle + secondTitle }}</title>
    <meta name="keywords" content="{{ keywords }}" />
    <meta name="description" content="{{ excerpt or metadata.description }}" />
    <link rel="canonical" href="{{ metadata.url + page.url | url }}">

    <meta name="og:image" content="{{metadata.url + "/assets/images/profile-pic.jpg" | url }}">
    <meta name="og:image:secure_url" content="{{metadata.url + "/assets/images/profile-pic.jpg" | url }}">
    <meta property="og:image:width" content="500">
    <meta property="og:image:height" content="500">
    <meta property="article:published_time" content="{{ date }}">
    <meta property="article:modified_time" content="{{ date }}">

    <meta name="og:title" content="{{ metadata.metaTitle + secondTitle }}">
    <meta name="og:description" content="{{ excerpt or metadata.description }}">
    <meta name="og:url" content="{{ metadata.url + page.url | url }}">
    <meta name="og:site_name" content="{{ metadata.metaTitle }}">
    <meta name="og:locale" content="en_GB">
    <meta name="og:type" content="article">

    <meta name="twitter:title" content="{{ metadata.metaTitle + secondTitle }}">
    <meta name="twitter:card" content="summary">
    <meta name="twitter:description" content="{{ excerpt or metadata.description }}">
    <meta name="twitter:image" content="{{metadata.url + "/assets/images/profile-pic.jpg" | url }}">

    <meta name="generator" content="{{ eleventy.generator }}">

    <meta itemprop="name" content="{{ metadata.metaTitle + secondTitle }}">
    <meta itemprop="description" content="{{ excerpt or metadata.description }}">

    <link rel="stylesheet" href="{{ '/assets/css/styles.css' | cacheBuster }}">
    <link rel="alternate" href="{{ metadata.url + metadata.feed.path }}" type="application/atom+xml" title="{{ metadata.title }}" />
    <link rel="alternate" href="{{ metadata.url + metadata.jsonfeed.path }}" type="application/json" title="{{ metadata.title }}" />
    <script>
      const prefDark = window.matchMedia('(prefers-color-scheme: dark)');
      document
        .querySelector('meta[name="theme-color"]')
        .setAttribute('content', prefDark ? '#111827' : '#F9FAFB');
      document
        .querySelector('meta[name="msapplication-TileColor"]')
        .setAttribute('content', prefDark ? '#111827' : '#F9FAFB');
    </script>
  </head>
  <body>
    {% block content %}{% endblock %}
    <script async defer src="https://scripts.withcabin.com/hello.js"></script>
  </body>
</html>
