<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="shortcut icon" href="{{ '/assets/favicons/favicon.ico' }}" />
    <link rel="icon" type="image/png" href="{{ '/assets/favicons/favicon-32x32.png' | url }}" sizes="32x32" />
    <link rel="icon" type="image/png" href="{{ '/assets/favicons/android-chrome-192x192.png' | url }}" sizes="192x192" />
    <link rel="icon" type="image/png" href="{{ '/assets/favicons/android-chrome-512x512.png' | url }}" sizes="512x512" />
    <link rel="apple-touch-icon" href="{{ '/assets/favicons/apple-touch-icon.png' | url }}" />
    
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="color-scheme" content="light dark" />
    <meta name="msapplication-TileColor" content="#F9FAFB" />
    <meta name="theme-color" content="#F9FAFB" />

    {% set secondTitle = "" if page.url === "/" else " - " + title %}

    <title>{{ metadata.metaTitle + secondTitle }}</title>
    <meta name="keywords" content="CSS, front-end, web design, consulting, architecture" />
    <meta name="content" content="CSS, front-end, web design, consulting, architecture" />
    <meta name="property" content="CSS, front-end, web design, consulting, architecture" />
    <meta name="description" content="{{ excerpt or metadata.description }}" />


    <meta name="og:image" content="{{metadata.url}}{{ image or metadata.author.image }}">
    <meta name="og:title" content="{{ metadata.metaTitle + secondTitle }}">
    <meta name="og:description" content="{{ excerpt or metadata.description }}">
    <meta name="og:url" content="{{ canonical | url }}">
    <meta name="og:site_name" content="{{ metadata.metaTitle }}">
    <meta name="og:locale" content="en_GB">
    <meta name="og:type" content="website">

    <meta name="twitter:title" content="{{ metadata.metaTitle + secondTitle }}">
    <meta name="twitter:card" content="summary">
    <meta name="twitter:description" content="{{ excerpt or metadata.description }}">
    <meta name="twitter:site" content="{{metadata.author.creator}}">
    <meta name="twitter:creator" content="{{metadata.author.creator}}">
    <meta name="twitter:image" content="{{metadata.url}}{{ image or metadata.author.image }}">

    <meta name="generator" content="{{ eleventy.generator }}">

    <meta itemprop="name" content="{{ metadata.metaTitle + secondTitle }}">
    <meta itemprop="description" content="{{ excerpt or metadata.description }}">
    
    {% set canonical = metadata.url + page.url %}
    <link rel="canonical" href="{{ canonical | url }}" />

    <link rel="stylesheet" href="{{ '/assets/css/styles.css' | url }}">
    <link rel="alternate" href="{{ metadata.url + metadata.feed.path }}" type="application/atom+xml" title="{{ metadata.title }}" />
    <link rel="alternate" href="{{ metadata.url + metadata.jsonfeed.path }}" type="application/json" title="{{ metadata.title }}" />
    <script>
      const prefDark = window.matchMedia('(prefers-color-scheme: dark)');
      document
        .querySelector('meta[name="theme-color"]')
        .setAttribute('content', prefDark ? '#111827' : '#F9FAFB');
      document
        .querySelector('meta[name="msapplication-TileColor"]')
        .setAttribute('content', prefDark ? '#111827' : '#F9FAFB');
    </script>
  </head>
  <body>
    {% block content %}{% endblock %}
  </body>
</html>
