---
layout: layouts/base.njk
---
<section class="min-h-screen w-full lg:max-w-6xl mx-auto">
  <article class="pt-12">
    <h1 class="text-3xl lg:text-4xl font-semibold pb-3">{{ title }}</h1>
    <div class="post-content">
      {{ content | safe }}
    </div>
  </article>
</section>
