{% extends "layouts/base.njk" %}
{% block content %}
  <main class="container mx-auto flex flex-grow flex-col">
    {% include "components/header.njk" %}
    {% if title %}<h1 class="max-w-7xl mx-auto w-full px-5">{{ title }}</h1>{% endif %}
    <section class="items-center mb-6 flex flex-wrap gap-5 lg:flex-nowrap max-w-7xl mx-auto w-full px-5">
      {{ content | safe }}
    </section>
  </main>
  {% include "components/footer.njk" %}
{% endblock %}
