---
layout: layouts/base.njk
templateClass: tmpl-post mt-8 container mx-auto px-6
---
<section class="min-h-screen w-full lg:max-w-6xl mx-auto">
  <article>
    <div class="flex flex-row pb-3 pt-12">
      <time class="text-sm mr-2" datetime="{{ page.date | htmlDateString }}">{{ page.date | readableDate }}</time>
      <span class="inline-flex items-center leading-none text-sm">
        <svg class="w-4 h-4 mr-1" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round" viewBox="0 0 24 24">
          <path stroke-linecap="round" stroke-linejoin="round" d="M12 8v4l3 3m6-3a9 9 0 11-18 0 9 9 0 0118 0z" />
        </svg>{{ content | readingTime }} read
      </span>
    </div>
    <h1 class="text-3xl lg:text-4xl font-semibold">{{ title }}</h1>
    <ul class="flex flex-wrap gap-2 py-3">
      {%- for tag in tags | filterTagList -%}
        {%- set tagUrl %}/tags/{{ tag | slug }}/{% endset -%}
        <li><a href="{{ tagUrl | url }}" class="underline font-medium text-lg">#{{ tag }}</a><li>
      {%- endfor %}
    </ul>
    {% if image %}
    <figure class="mb-4"> 
      <img src="{{ image }}" alt="{% if imageAlt %}{{ imageAlt }}{% else %}presentation{% endif %}" width="680" height="350" class="mx-auto" />
      <figcaption class="text-center pt-2 text-sm">{{ imageAlt }}</figcaption>
    </figure>
    {% endif %}
    <div class="post-content">
      {{ content | safe }}
    </div>

    {%- if collections.posts %}
    {%- set nextPost = collections.posts | getNextCollectionItem(page) %}
    {%- set previousPost = collections.posts | getPreviousCollectionItem(page) %}
    {%- if nextPost or previousPost %}
    <ul class="flex gap-3 flex-col md:flex-row justify-between items-center">
      {%- if previousPost %}<li><svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 inline" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
  <path stroke-linecap="round" stroke-linejoin="round" d="M15 19l-7-7 7-7" />
</svg> <a class="font-semibold" href="{{ previousPost.url | url }}">{{ previousPost.data.title }}</a></li>{% endif %}
      {%- if nextPost %}<li><a class="font-semibold" href="{{ nextPost.url | url }}">{{ nextPost.data.title }}</a><svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 inline" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
  <path stroke-linecap="round" stroke-linejoin="round" d="M9 5l7 7-7 7" />
</svg></li>{% endif %}
    </ul>
    {%- endif %}
    {%- endif %}
  </article>
</section>
