---
layout: layouts/base.njk
templateClass: tmpl-post mt-8 container mx-auto px-6
---
<section class="min-h-screen w-full lg:max-w-6xl mx-auto flex">
  <article class="w-full md:w-3/4 md:pr-2">
    <div class="flex flex-row pb-3 pt-12">
      <time class="text-sm mr-2" datetime="{{ page.date | htmlDateString }}">{{ page.date | readableDate }}</time>
      <span class="inline-flex items-center leading-none text-sm">
        <svg class="w-4 h-4 mr-1" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round" viewBox="0 0 24 24" role="presentation">
          <path stroke-linecap="round" stroke-linejoin="round" d="M12 8v4l3 3m6-3a9 9 0 11-18 0 9 9 0 0118 0z" />
        </svg>{{ content | readingTime }} read
      </span>
    </div>
    <h1 class="text-3xl lg:text-4xl font-semibold">{{ title }}</h1>
    <ul class="flex flex-wrap gap-1 py-3">
      {%- for tag in tags | filterTagList -%}
        {%- set tagUrl %}/tags/{{ tag | slug }}/{% endset -%}
        <li><a href="{{ tagUrl | url }}" class="underline font-medium text-lg text-green-700 dark:text-green-500 hover:text-green-800 dark:hover:text-green-600">#{{ tag }}</a><li>
      {%- endfor %}
    </ul>
    {% if image %}
      {% if imageAlt %}
        {% set alt = imageAlt %}
      {% else %}
        {% set alt = "featured" %}
      {% endif %}
      {% responsiveImage "src" + image, alt %}
      <p class="text-center pt-2 pb-4 text-sm">{{ imageAlt }}</p>
    {% endif %}
    <div class="post-content">
      {{ content | safe }}
    </div>

    <div class="flex flex-row mt-8 mb-4 border-b border-gray-300 py-2 justify-between">
      <div>
        <a target="_blank" rel="noopener noreferrer" href="https://github.com/learnwithgurpreet/learnwithgurpreet/blob/main/src/posts/{{ page.fileSlug }}.md" class="text-green-700 dark:text-green-500 hover:text-green-800 dark:hover:text-green-600">Edit</a>
      </div>
      <div class="flex">
        <span>Share:</span>
        <a class="ml-2" href="https://www.linkedin.com/sharing/share-offsite/?url={{metadata.url}}{{page.url}}" target="_blank" rel="noopener" aria-label="Share on LinkedIn (opens new tab)">
          <svg class="w-7 h-7 text-blue-600 fill-current dark:text-blue-500 hover:text-blue-600 dark:hover:text-blue-600" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" role="presentation">
              <path d="M417.2 64H96.8C79.3 64 64 76.6 64 93.9V415c0 17.4 15.3 32.9 32.8 32.9h320.3c17.6 0 30.8-15.6 30.8-32.9V93.9C448 76.6 434.7 64 417.2 64zM183 384h-55V213h55v171zm-25.6-197h-.4c-17.6 0-29-13.1-29-29.5 0-16.7 11.7-29.5 29.7-29.5s29 12.7 29.4 29.5c0 16.4-11.4 29.5-29.7 29.5zM384 384h-55v-93.5c0-22.4-8-37.7-27.9-37.7-15.2 0-24.2 10.3-28.2 20.3-1.5 3.6-1.9 8.5-1.9 13.5V384h-55V213h55v23.8c8-11.4 20.5-27.8 49.6-27.8 36.1 0 63.4 23.8 63.4 75.1V384z"/>
          </svg>
        </a>
        <a class="ml-2" href="https://twitter.com/intent/tweet/?text={{title + " - " + metadata.metaTitle}}&amp;url={{metadata.url}}{{page.url}}/&amp;via=" target="_blank" rel="noopener" aria-label="Share on Twitter (opens new tab)">
          <svg class="w-7 h-7 text-blue-600 fill-current dark:text-blue-500 hover:text-blue-600 dark:hover:text-blue-600" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" role="presentation">
            <path d="M492 109.5c-17.4 7.7-36 12.9-55.6 15.3 20-12 35.4-31 42.6-53.6-18.7 11.1-39.4 19.2-61.5 23.5C399.8 75.8 374.6 64 346.8 64c-53.5 0-96.8 43.4-96.8 96.9 0 7.6.8 15 2.5 22.1-80.5-4-151.9-42.6-199.6-101.3-8.3 14.3-13.1 31-13.1 48.7 0 33.6 17.2 63.3 43.2 80.7-16-.4-31-4.8-44-12.1v1.2c0 47 33.4 86.1 77.7 95-8.1 2.2-16.7 3.4-25.5 3.4-6.2 0-12.3-.6-18.2-1.8 12.3 38.5 48.1 66.5 90.5 67.3-33.1 26-74.9 41.5-120.3 41.5-7.8 0-15.5-.5-23.1-1.4C62.8 432 113.7 448 168.3 448 346.6 448 444 300.3 444 172.2c0-4.2-.1-8.4-.3-12.5C462.6 146 479 129 492 109.5z"/>
          </svg>
        </a>
      </div>
    </div>

    {%- if collections.posts %}
    {%- set nextPost = collections.posts | getNextCollectionItem(page) %}
    {%- set previousPost = collections.posts | getPreviousCollectionItem(page) %}
    {%- if nextPost or previousPost %}
    <ul class="flex gap-3 flex-col md:flex-row justify-between items-center">
      {%- if previousPost %}<li><svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 inline" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2" role="presentation">
  <path stroke-linecap="round" stroke-linejoin="round" d="M15 19l-7-7 7-7" />
</svg> <a class="font-semibold" href="{{ previousPost.url | url }}">{{ previousPost.data.title }}</a></li>{% endif %}
      {%- if nextPost %}<li><a class="font-semibold" href="{{ nextPost.url | url }}">{{ nextPost.data.title }}</a><svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 inline" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2" role="presentation">
  <path stroke-linecap="round" stroke-linejoin="round" d="M9 5l7 7-7 7" />
</svg></li>{% endif %}
    </ul>
    {%- endif %}
    {%- endif %}
  </article>
  <aside class="w-1/4 px-2 pt-12 hidden md:block">
    <div class="sticky top-4">
      <p class="font-semibold tracking-tight mb-4">On This Page</p>
      {{ content | toc | safe }}
      <div class="flex flex-row mt-8 border-t border-gray-300 pt-4">
        <span>Share:</span>
        <a class="ml-2" href="https://www.linkedin.com/sharing/share-offsite/?url={{metadata.url}}{{page.url}}" target="_blank" rel="noopener" aria-label="Share on LinkedIn (opens new tab)">
          <svg class="w-7 h-7 text-blue-600 fill-current dark:text-blue-500 hover:text-blue-600 dark:hover:text-blue-600" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" role="presentation">
              <path d="M417.2 64H96.8C79.3 64 64 76.6 64 93.9V415c0 17.4 15.3 32.9 32.8 32.9h320.3c17.6 0 30.8-15.6 30.8-32.9V93.9C448 76.6 434.7 64 417.2 64zM183 384h-55V213h55v171zm-25.6-197h-.4c-17.6 0-29-13.1-29-29.5 0-16.7 11.7-29.5 29.7-29.5s29 12.7 29.4 29.5c0 16.4-11.4 29.5-29.7 29.5zM384 384h-55v-93.5c0-22.4-8-37.7-27.9-37.7-15.2 0-24.2 10.3-28.2 20.3-1.5 3.6-1.9 8.5-1.9 13.5V384h-55V213h55v23.8c8-11.4 20.5-27.8 49.6-27.8 36.1 0 63.4 23.8 63.4 75.1V384z"/>
          </svg>
        </a>
        <a class="ml-2" href="https://twitter.com/intent/tweet/?text={{title + " - " + metadata.metaTitle}}&amp;url={{metadata.url}}{{page.url}}/&amp;via=" target="_blank" rel="noopener" aria-label="Share on Twitter (opens new tab)">
          <svg class="w-7 h-7 text-blue-600 fill-current dark:text-blue-500 hover:text-blue-600 dark:hover:text-blue-600" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" role="presentation">
            <path d="M492 109.5c-17.4 7.7-36 12.9-55.6 15.3 20-12 35.4-31 42.6-53.6-18.7 11.1-39.4 19.2-61.5 23.5C399.8 75.8 374.6 64 346.8 64c-53.5 0-96.8 43.4-96.8 96.9 0 7.6.8 15 2.5 22.1-80.5-4-151.9-42.6-199.6-101.3-8.3 14.3-13.1 31-13.1 48.7 0 33.6 17.2 63.3 43.2 80.7-16-.4-31-4.8-44-12.1v1.2c0 47 33.4 86.1 77.7 95-8.1 2.2-16.7 3.4-25.5 3.4-6.2 0-12.3-.6-18.2-1.8 12.3 38.5 48.1 66.5 90.5 67.3-33.1 26-74.9 41.5-120.3 41.5-7.8 0-15.5-.5-23.1-1.4C62.8 432 113.7 448 168.3 448 346.6 448 444 300.3 444 172.2c0-4.2-.1-8.4-.3-12.5C462.6 146 479 129 492 109.5z"/>
          </svg>
        </a>
      </div>
    </div
  </aside>
</section>
