{% extends "layouts/base.njk" %}
{% block content %}
  <article class="mx-auto">
    <header class="w-full mx-auto mb-12 text-center border-b-2 border-gray-200">
      <date datetime="{{ page.date | htmlDateString }}">{{ page.date | readableDate }}</date>
      <h1 class="mb-3 text-4xl font-bold leading-tight md:text-5xl">
        {{ title }}
      </h1>
      <ul class="flex mb-6 space-x-2 mt-2 justify-center">
        {%- for tag in tags | filterTagList -%}
          {%- set tagUrl %}/tags/{{ tag | slug }}/{% endset -%}
          <li class="inline-block"><a class="p-1 highlight" href="{{ tagUrl | url }}">{{ tag }}</a></li>
        {%- endfor %}
      </ul>
    </header>
    <div class="w-full mx-auto prose md:prose-xl dark:prose-invert">
      {{ content | safe}}
    </div>
  </article>
{% endblock %}
