{% extends 'layouts/base.njk' %}

{# Intro content #}
{% set introHeading = title %}

{% block content %}
  <main id="main-content" tabindex="-1">
    <article class="[ post ] [ h-entry ]">
      {% include "partials/components/intro.njk" %}
      <div class="[ post__body ] [ inner-wrapper ] [ leading-loose pad-top-900 pad-bottom-900 text-500 ] [ sf-flow ] [ e-content ]">
        {{ content | safe }}
        {% include "partials/components/stats.njk" %}
      </div>
    </article>
  </main>
  <script src="/js/components/chart.umd.js"></script>
  <script>
    function isDarkMode() {
      return window.matchMedia && window.matchMedia('(prefers-color-scheme: dark)').matches;
    }
    const ctx = document.getElementById("posts_per_year_chart");
    const color = isDarkMode() ? '#fedb8b' : '#333333';

    Chart.defaults.color = color;
    Chart.defaults.backgroundColor = color;
    Chart.defaults.borderColor = color;
    var myChart = new Chart(ctx, {
      type: "bar",
      data: {
        labels: [{% for year, yearPosts in collections.posts | groupByYear | reverse %}{{year}}{% if loop.last === false %},{% endif %}{% endfor %}],
        datasets: [
          {
            label: "Posts per year",
            data: [{% for year, yearPosts in collections.posts | groupByYear | reverse %}{{yearPosts | length}}{% if loop.last === false %},{% endif %}{% endfor %}],
          },
        ],
      },
      options: {
        scales: {
          y: {
            beginAtZero: true,
          },
        },
        elements: {
          bar: {
            backgroundColor: color
          }
        },
        plugins: {
          legend: {
            labels: {
              color: color
            }
          }
        }
      },
    });
  </script>
{% endblock %}

{{ content | safe }}