@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply dark:bg-gray-800 bg-white;
}

.active {
  @apply font-bold;
}

.post-content h2 {
  @apply font-semibold text-2xl my-6;
}

.post-content h3 {
  @apply font-semibold text-xl my-4;
}

.post-content h4,
.post-content h5,
.post-content h6 {
  @apply font-semibold text-lg my-2;
}

.post-content img {
  @apply mx-auto my-4;
}

.post-content {
  @apply pb-10;
}

/* ***********
Toggle Button
************* */

.mode-toggle {
  display: flex;
  height: 1.5rem;
  width: 1.5rem;
  flex-direction: column;
  overflow: hidden;
}

.is-ready > .mode-toggle-icons {
  transition: all .1s cubic-bezier(.24,.82,.79,1.22);
}

.dark .mode-toggle-icons {
  transform: translateY(-50%);
}