@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Merriweather';
  src: url('../fonts/Merriweather-Regular.eot');
  src: url('../fonts/Merriweather-Regular.eot?#iefix') format('embedded-opentype'),
      url('../fonts/Merriweather-Regular.woff2') format('woff2'),
      url('../fonts/Merriweather-Regular.woff') format('woff'),
      url('../fonts/Merriweather-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

h1,
h2, 
h3, 
h4,
h5,
h6 {
  @apply font-merriweather;
}

body,
.search {
  @apply dark:bg-gray-800 bg-white;
}

.search-root {
  @apply items-center border-b-4 border-b-gray-800 dark:border-b-white flex justify-between py-1;
}

.search-root form {
  @apply flex w-full mb-0;
}

#main-nav [aria-current=page] {
  @apply font-bold;
}

.post-content {
  @apply pb-10 overflow-hidden;
}

.post-content p {
  @apply mb-5;
}

.post-content blockquote {
  @apply bg-emerald-100 text-emerald-700 border-l-8 border-l-emerald-700 rounded-sm my-6 px-6 py-4;
}

.post-content blockquote p {
  @apply mb-1;
}

.post-content ul {
  @apply list-disc pl-7;
}

.post-content ul li {
  @apply pl-1 my-2;
}

.post-content ol {
  @apply list-decimal pl-7;
}

.post-content ol li {
  @apply pl-1 my-2;
}

.post-content h2 {
  @apply font-semibold text-2xl my-6;
}

.post-content h3 {
  @apply font-semibold text-xl my-4;
}

.post-content h4,
.post-content h5,
.post-content h6 {
  @apply font-semibold text-lg my-2;
}

.post-content img {
  @apply mx-auto my-4;
}

.post-content a {
  @apply text-blue-600 dark:text-blue-500 hover:text-blue-600 dark:hover:text-blue-600;
}

.post-content code:not([class*="language-"]) {
  background-color: #272822;
  @apply text-gray-200 p-1 rounded-md break-words;
}

h2 .direct-link,
h3 .direct-link {
  display: none;
}

h2:hover .direct-link,
h3:hover .direct-link,
h2:target .direct-link,
h3:target .direct-link {
  display: inline-block;
}

.toc li {
  @apply py-1;
}
.toc li > ol {
  @apply pl-3;
}
.toc a {
  @apply no-underline inline-block text-green-700 dark:text-green-500 hover:text-green-800 dark:hover:text-green-600;
}

.toc a.active {
  @apply font-bold;
}

.tag.green {
  @apply text-green-700 dark:text-green-500 hover:text-green-800 dark:hover:text-green-600;
}

.tag.red {
  @apply text-red-700 dark:text-red-500 hover:text-red-800 dark:hover:text-red-600;
}

.tag.blue {
  @apply text-blue-700 dark:text-blue-500 hover:text-blue-800 dark:hover:text-blue-600;
}

.tag.cyan {
  @apply text-cyan-700 dark:text-cyan-500 hover:text-cyan-800 dark:hover:text-cyan-600;
}

.tag.purple {
  @apply text-purple-700 dark:text-purple-500 hover:text-purple-800 dark:hover:text-purple-600;
}