@tailwind base;
@tailwind components;
@tailwind utilities;

body,
.search {
  @apply dark:bg-gray-800 bg-white;
}

.search-root {
  @apply items-center border-b-4 border-b-gray-800 dark:border-b-white flex justify-between py-1;
}

.search-root form {
  @apply flex w-full mb-0;
}

.active {
  @apply font-bold;
}

.post-content {
  @apply pb-10 overflow-hidden;
}

.post-content p {
  @apply mb-5;
}

.post-content blockquote {
  @apply bg-emerald-100 text-emerald-700 border-l-8 border-l-emerald-700 rounded-sm my-6 px-6 py-4;
}

.post-content blockquote p {
  @apply mb-1;
}

.post-content ul {
  @apply list-disc pl-7;
}

.post-content ul li {
  @apply pl-1 my-2;
}

.post-content ol {
  @apply list-decimal pl-7;
}

.post-content ol li {
  @apply pl-1 my-2;
}

.post-content h2 {
  @apply font-semibold text-2xl my-6;
}

.post-content h3 {
  @apply font-semibold text-xl my-4;
}

.post-content h4,
.post-content h5,
.post-content h6 {
  @apply font-semibold text-lg my-2;
}

.post-content img {
  @apply mx-auto my-4;
}

.post-content a {
  @apply text-blue-600 dark:text-blue-500 hover:text-blue-600 dark:hover:text-blue-600;
}

.post-content code:not([class*="language-"]) {
  background-color: #272822;
  @apply text-gray-200 p-1 rounded-md break-words;
}

h2 .direct-link,
h3 .direct-link {
  display: none;
}

h2:hover .direct-link,
h3:hover .direct-link,
h2:target .direct-link,
h3:target .direct-link {
  display: inline-block;
}

.toc li {
  @apply py-1;
}
.toc li > ol {
  @apply pl-3;
}
.toc a {
  @apply no-underline inline-block text-green-700 dark:text-green-500 hover:text-green-800 dark:hover:text-green-600;
}

.toc a.active {
  @apply font-bold;
}

/* ***********
Toggle Button
************* */

.mode-toggle {
  display: flex;
  height: 1.5rem;
  width: 1.5rem;
  flex-direction: column;
  overflow: hidden;
}

.is-ready > .mode-toggle-icons {
  transition: all .1s cubic-bezier(.24,.82,.79,1.22);
}

.dark .mode-toggle-icons {
  transform: translateY(-50%);
}