@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face{
  font-family:'iAWriter Quattro';
  font-weight:400;
  font-style:italic;
  font-display:swap;
  unicode-range:U+000-5FF;
  src:url("../fonts/iAWriterQuattroS-Italic.woff2") format("woff2")
}
@font-face{
  font-family:'iAWriter Quattro';
  font-weight:600;
  font-style:italic;
  font-display:swap;
  unicode-range:U+000-5FF;
  src:url("../fonts/iAWriterQuattroS-BoldItalic.woff2") format("woff2")
}
@font-face{
  font-family:'iAWriter Quattro';
  font-weight:600;
  font-style:normal;
  font-display:swap;
  unicode-range:U+000-5FF;
  src:url("../fonts/iAWriterQuattroS-Bold.woff2") format("woff2")
}
@font-face{
  font-family:'iAWriter Quattro';
  font-weight:400;
  font-style:normal;
  font-display:swap;
  unicode-range:U+000-5FF;
  src:url("../fonts/iAWriterQuattroS-Regular.woff2") format("woff2")
}
@font-face{
  font-family:"iAWriter Mono";
  font-weight:400;
  font-style:normal;
  font-display:swap;
  unicode-range:U+000-5FF;
  src:url("../fonts/iAWriterMonoS-Regular.woff2") format("woff2")
}

html {
  @apply scroll-smooth;
}

body {
  @apply font-sans-serif flex flex-col text-gray-800 bg-gray-50 text-lg min-h-screen dark:bg-gray-900 dark:text-gray-50;
}

.fade:hover>*:not(:hover) {
  @apply opacity-40;
}

a {
  @apply transition-all duration-200 ease-in decoration-2 underline-offset-1;
}

a:hover,
article h2:has(a):hover,
article h3:has(a):hover,
article h4:has(a):hover {
  @apply text-teal-600 dark:text-teal-400;
}

.slash,
.arrow {
  @apply flex flex-row gap-1;
}

.slash:before {
  content: "//";
  @apply text-teal-600 dark:text-teal-400;
}

.arrow:after {
  content: "→";
  @apply text-teal-600 dark:text-teal-400;
}

.arrow:hover:after {
  @apply right-1;
}

blockquote {
  @apply p-4 my-4 border-l-4 border-gray-600 bg-gray-50 dark:border-gray-700 dark:bg-gray-800;
}

h1 {
  @apply mt-4 lg:mt-6 font-semibold text-3xl lg:text-4xl;
}

h2 {
  @apply font-semibold mt-6 text-2xl lg:text-3xl;
}

h3 {
  @apply font-semibold mt-5 text-xl;
}

h4, h5, h6 {
  @apply font-semibold mt-4;
}

article {
  @apply mb-5;
}

article pre,
p,
article p {
  @apply overflow-hidden break-words pt-4 lg:pt-6;
}
article a {
  @apply text-teal-600 dark:text-teal-400;
}
article blockquote p {
  @apply italic font-medium pt-3;
}
article h2[id],
article h3[id],
article h4[id] {
  @apply scroll-mt-4 relative transition-colors duration-200 outline-none;
}
article h2 .direct-link,
article h3 .direct-link,
article h4 .direct-link {
  @apply transition-all duration-200 opacity-0 after:absolute after:left-0 after:right-0 after:top-0 after:bottom-0;
}
article h2:hover .direct-link,
article h3:hover .direct-link,
article h4:hover .direct-link {
  @apply opacity-100;
}
.featured-image, article img {
  @apply h-auto mx-auto p-5;
}

:not(pre)>code{
  @apply font-monospace text-sm text-teal-600 dark:text-teal-400 bg-gray-800 px-2 py-1;
}

.separator:not(:last-child) {
  @apply border-b border-b-gray-800;
}

/* PrismJS 1.29.0
https://prismjs.com/download.html#themes=prism-okaidia&languages=markup+css */
code[class*=language-],pre[class*=language-]{color:#f8f8f2;background:0 0;text-shadow:0 1px rgba(0,0,0,.3);font-family:Consolas,Monaco,'Andale Mono','Ubuntu Mono',monospace;font-size:1em;text-align:left;white-space:pre;word-spacing:normal;word-break:normal;word-wrap:normal;line-height:1.5;-moz-tab-size:4;-o-tab-size:4;tab-size:4;-webkit-hyphens:none;-moz-hyphens:none;-ms-hyphens:none;hyphens:none}pre[class*=language-]{padding:1em;margin:.5em 0;overflow:auto;border-radius:.3em}:not(pre)>code[class*=language-],pre[class*=language-]{background:#272822}:not(pre)>code[class*=language-]{padding:.1em;border-radius:.3em;white-space:normal}.token.cdata,.token.comment,.token.doctype,.token.prolog{color:#8292a2}.token.punctuation{color:#f8f8f2}.token.namespace{opacity:.7}.token.constant,.token.deleted,.token.property,.token.symbol,.token.tag{color:#f92672}.token.boolean,.token.number{color:#ae81ff}.token.attr-name,.token.builtin,.token.char,.token.inserted,.token.selector,.token.string{color:#a6e22e}.language-css .token.string,.style .token.string,.token.entity,.token.operator,.token.url,.token.variable{color:#f8f8f2}.token.atrule,.token.attr-value,.token.class-name,.token.function{color:#e6db74}.token.keyword{color:#66d9ef}.token.important,.token.regex{color:#fd971f}.token.bold,.token.important{font-weight:700}.token.italic{font-style:italic}.token.entity{cursor:help}