---
title: Uses
permalink: /uses/index.html
description: 'Read what gears and softwares Gurpreet Singh uses'
layout: page
---

<p>I get a lot of questions about what gear, software, and other stuff I use. To make it easier to share, I've collected a list here.</p>

<article class="full section" style="--spot-color: var(--color-bg-accent)">
  {% include 'svg/divider-soft-top.svg' %}

  <section class="section__inner wrapper">
    {% for key, value in uses %}
      <h2 id="{{ key }}">{{ key }}</h2>
      <ul>
        {% for obj in uses[ key ] %}
        <li>
          <h3>{{ obj.title }}</h3>
          <p>{{ obj.details | safe }}</p>
          <a href="{{ obj.more_info_link }}">More Info <svg data-wf-icon="ArrowUpRightIcon" width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg" style="display:inline"><path d="M2 12.5701L10.5489 4.02254L4.33037 4.02254L4.33037 2L14 2L14 11.6696L11.9775 11.6696L11.9775 5.45243L3.42987 14L2 12.5701Z" fill="currentColor"></path></svg></a>
        </li>
        {% endfor %}
      </ul>
    {% endfor %}
  </section>

  {% include 'svg/divider-soft-bottom.svg' %}
</article>
