---
layout: layouts/base.njk
title: Archive
pagination:
  reverse: true
  data: collections.posts
  size: 10
  alias: posts
eleventyNavigation:
  key: Archive
  order: 1
---
<h1 class="title">Archive</h1>

{% include "postlist.njk" %}
{% include "pagination.njk" %}
