---
layout: layouts/base.njk
title: Blog
pagination:
  reverse: true
  data: collections.posts
  size: 10
  alias: posts
eleventyNavigation:
  key: Blog
  order: 1
---
<h1 class="title">Blog</h1>

{% include "postlist.njk" %}
{% include "pagination.njk" %}
