---
layout: layouts/page.njk
title: Blog
eleventyNavigation:
  key: Blog
  order: 1
---

<ul class="mt-11 fade transition-all duration-200">
  {% for year, yearPosts in collections.posts | groupByYear | reverse %}
    <li class="mb-9 pb-9 transition-all duration-200 separator flex flex-col lg:flex-row">
      <span class="flex-grow w-1/5 pb-6">{{ year }}</span>
      <ul class="fade transition-all duration-200 w-4/5">
        {% for post in yearPosts | reverse %}
          <li class="flex-col relative mb-6">
            <time date="{{ post.data.date }}" class="slash text-sm">{{ post.date | readableDate }}</time>
            <h2 class="mt-1">
              <a href="{{ post.url | url }}" class="after:absolute after:left-0 after:right-0 after:top-0 after:bottom-0">
                {{ post.data.title }}
              </a>
            </h2>
            <span class="text-fg-1">{{ post.data.excerpt }}</span>
          </li>
        {% endfor %}
      </ul>
    </li>
  {% endfor %}
</ul>