---
layout: layouts/page.njk
title: Contact
image: /assets/images/profile-pic.jpg
eleventyNavigation:
  key: Contact
  order: 6
excerpt: Experienced Front-end Technologist | Expert in jQuery, JavaScript, HTML5, CSS3, NodeJS, and ReactJS
---

<header class="sr-only"><h1>{{ title }}</h1></header>

<div class="w-full mx-auto prose dark:prose-invert">
  <h2>Follow me on</h2>
  <ul>
    <li><a rel="me" href="{{ metadata.author.mastodon }}" title="Mastodon page">Mastodon</a></li>
    <li><a rel="me" href="{{ metadata.author.github }}" title="Github page">GitHub</a></li>
    <li><a rel="me" href="{{ metadata.author.linkedin }}" title="LinkedIn page">LinkedIn</a></li>
  </ul>
  <h2>Mail me at</h2>
  <a rel="me" href="mailto:{{ metadata.author.email }}" title="Email me at {{ metadata.author.email }}">{{ metadata.author.email }}</a>
  <h2>Support me on</h2>
  <p>
    <a href="https://www.buymeacoffee.com/gurpreet.singh">Buy me a Coffee</a>
  </p>
</div>
