---
layout: layouts/base.njk
eleventyNavigation:
  key: Contact
  order: 2
---
<h1>Contact</h1>
<p>I'm Gurpreet Singh, a Senior Architect in Frontend Technology working with PublicisSapient. Having more than 12 years of experience in the area of JavaScript, HTML5, and CSS3. I like creating and using specialized tools for making development processes as efficient as possible. I have the experience to work with big projects and big development teams.</p>

<p><a href="mailto:learnwithgurpreet@gmail.com" class="text-teal-600">learnwithgurpreet@gmail.com</a></p>
