---
layout: layouts/page.njk
title: Contact
eleventyNavigation:
  key: Contact
  order: 2
---

<article>
<p>I'm Gurpreet Singh, a Senior Architect in Frontend Technology working with PublicisSapient. Having more than 12 years of experience in the area of JavaScript, HTML5, and CSS3. I like creating and using specialized tools for making development processes as efficient as possible. I have the experience to work with big projects and big development teams.</p>

<p><a href="mailto:{{metadata.author.email}}" class=" dark:text-teal-400">{{metadata.author.email}}</a></p>

</article>