---
layout: layouts/page.njk
image: /assets/images/profile-pic.jpg
pagination:
  data: collections.posts
  size: 5
  alias: postslist
  reverse: true
eleventyNavigation:
  key: Home
  order: 1
keywords: tech blog, gurpreet singh, gurpreet from germany, gurpreet from frankfurt, publicissapient, sapient, publicis, advanced javascript tutorials, best free javascript tutorials, best javascript tutorials, best node js tutorials, best tutorials for node js, node js tutorial blog, tutorial javascript, tutorial node js, tutorial node.js, tutorials on javascript, why node.js
excerpt: Experienced Front-end Technologist | Expert in jQuery, JavaScript, HTML5, CSS3, NodeJS, and ReactJS
---

<ul class="flex flex-col divide-y divide-gray-200">
{% for post in postslist %}
  {% include "partials/_post_item.njk" %}
{% endfor %}
</ul>

{% if pagination.pageLinks.length > 1 %}
  <div class="sm:flex-1 sm:flex sm:items-center sm:justify-between my-6 pt-6 border-t border-gray-200">
    <div class="pb-6 sm:pb-0">
      <p class="text-md">
        Showing
        <span class="font-semibold">{{ (pagination.pageNumber * pagination.size) + 1 }}</span>
        to
        <span class="font-semibold">
          {% if pagination.nextPageLink %}
            {{ (pagination.pageNumber * pagination.size) + pagination.size }}
          {% else %}
            {{ length }}
          {% endif %}
        </span>
        of
        <span class="font-semibold">{{ collections.posts.length }}</span>
        results
      </p>
    </div>
    <nav class="pagination space-x-4 flex justify-center">
      {% if pagination.previousPageLink %}
        <a class="relative inline-flex items-center py-1 text-md text-sm font-medium" href="{{ pagination.previousPageHref }}">Previous</a>
      {% else %}
        <span class="relative inline-flex items-center py-1 text-sm font-medium">Previous</span>
      {% endif %}
      {% if pagination.nextPageLink %}
        <a class="relative inline-flex items-center py-1 text-sm font-medium" href="{{ pagination.nextPageHref }}">Next</a>
      {% else %}
        <span class="relative inline-flex items-center py-1 text-sm font-medium">Next</span>
      {% endif %}
    </nav>
  </div>
{% endif %}
