---
permalink: /manifest.json
eleventyExcludeFromCollections: true
---
{
  "name": "{{ site.name }}",
  "short_name": "LWG",
  "icons": [
    {
      "src": "{{ site.faviconPath }}",
      "sizes": "192x192",
      "type": "image/png"
    },
    {
      "src": "{{ site.faviconPath }}",
      "sizes": "512x512",
      "type": "image/png"
    }
  ],
  "theme_color": "#173854",
  "background_color": "#173854",
  "display": "standalone",
  "orientation": "portrait"
}