---
layout: layouts/page.njk
title: Posts
keywords: tech blog, tech blog by gurpreet singh, advanced javascript tutorials, best free javascript tutorials, best javascript tutorials, best node js tutorials, best tutorials for node js, node js tutorial blog, tutorial javascript, tutorial node js, tutorial node.js, tutorials on javascript
eleventyNavigation:
  key: Posts
  order: 1
---

<header class="flex py-6 sm:py-8 md:py-16">
  <div class="w-full max-w-7xl m-auto px-5">
    <h1 class="text-2xl font-bold sm:text-4xl">Posts</h1>
  </div>
</header>
{% set allPosts = collections.posts %}
{% include "components/grid-posts.njk" %}