---
layout: layouts/page.njk
title: Posts per year
image: /assets/images/profile-pic.jpg
eleventyNavigation:
  key: Stats
  order: 3
excerpt: Stats of Gurpreet Singh's blog, like first post, recent post, posts per year, all tags
---

<header class="sr-only"><h1>{{ title }}</h1></header>

<canvas id="posts_per_year_chart"></canvas>

<h2 class="mb-3 text-2xl font-bold leading-tight md:text-3xl">All tags</h2>
{% include "partials/_tags.njk" %}
