---
layout: layouts/page.njk
pagination:
  reverse: true
  data: collections
  size: 1
  alias: tag
  filter:
    - all
    - nav
    - post
    - posts
    - tagList
  addAllPagesToCollections: false
eleventyComputed:
  title: Tagged "{{ tag }}"
permalink: /tags/{{ tag | slug }}/
excerpt: List of posts tagged under "{{ tag }}"
---

<header>
  <h1>Tagged "{{ tag }}"</h1>
</header>

{% for year, yearPosts in collections[ tag ] | groupByYear | reverse %}
  <h2 id="{{ year }}" class="year">{{ year }}</h2>
  <ul class="big-words">
    {% for post in yearPosts | reverse %}
      <li>
        <a href="{{ post.url | url }}">{{ post.data.title }}</a>
      </li>
    {% endfor %}
  </ul>
{% endfor %}