---
layout: layouts/page.njk
pagination:
  reverse: true
  data: collections
  size: 1
  alias: tag
  filter:
    - all
    - nav
    - post
    - posts
    - tagList
  addAllPagesToCollections: false
eleventyComputed:
  title: Tagged "{{ tag }}"
permalink: /tags/{{ tag | slug }}/
excerpt: List of posts tagged under "{{ tag }}"
---

<header class="w-full mx-auto mb-12 text-left">
  <h1 class="mb-3 text-3xl font-bold leading-tight text-gray-900 md:text-4xl dark:text-gray-50">
    Tagged "{{ tag }}"
  </h1>
</header>

<section class="flex flex-col space-y-12 divide-y divide-gray-200">
{% for post in collections[ tag ] | reverse | head(6) %}
  <div>
    <date class="pt-12 block mb-3 text-sm font-normal text-gray-500 dark:text-gray-200" datetime="{{ page.date | htmlDateString }}">{{ post.date | readableDate }}</date>
    <h2 class="mb-2 text-xl font-extrabold leading-snug tracking-tight md:text-3xl">
      <a href="{{ post.url | url }}" class="text-gray-900 hover:underline dark:text-gray-50">{{ post.data.title }}</a>
    </h2>
    <p class="mb-4 text-base font-normal text-gray-600 dark:text-gray-100">{{ post.data.excerpt }}</p>
    <a href="{{ post.url | url }}" class="btn btn-light btn-sm hover:underline">Continue Reading</a>
  </div>
{% endfor %}
</section>