---
layout: layouts/list.njk
pagination:
  reverse: true
  data: collections
  size: 1
  alias: tag
  filter:
    - all
    - nav
    - post
    - posts
    - tagList
  addAllPagesToCollections: false
eleventyComputed:
  title: Tagged “{{ tag }}”
permalink: /tags/{{ tag | slug }}/
---
<h1 class="text-3xl font-bold text-gray-800 dark:text-gray-100 py-12">Tagged "{{ tag }}"</h1>

{% set posts = collections[ tag ] %}
{% set showTags = false %}
{% include "postlist.njk" %}
