<footer class="flex flex-col items-center justify-center">
  {% set showRSS = true %}
  {% include "partials/_nav.njk" %}
  <p class="mt-6 text-sm text-gray-500 dark:text-gray-400 pb-6">Made with <a href="https://www.11ty.dev/" rel="noopener noreferrer" class="orange-link">11ty</a> and <a href="https://tailwindcss.com/" rel="noopener noreferrer" class="orange-link">TailwindCSS</a> | &copy; 2024 {{ metadata.author.name }}</p>
</footer>