<footer class="flex flex-col items-center justify-center">
  {% set showRSS = true %}
  {% include "partials/_nav.njk" %}
  <p class="mt-6 text-sm pb-6">Made with <a href="https://www.11ty.dev/" rel="noopener noreferrer">11ty</a> and <a href="https://tailwindcss.com/" rel="noopener noreferrer">TailwindCSS</a> | &copy; 2024 {{ metadata.author.name }}</p>
</footer>