<footer class="flex flex-col items-center justify-center">
  {% set showRSS = true %}
  {% include "partials/_nav.njk" %}
  <p class="mt-6 text-sm pb-2">This Web site is built with <a href="https://www.11ty.dev/" rel="noopener noreferrer">11ty</a> and hosted on <a href="https://netlify.com/" rel="noopener noreferrer">Netlify</a></p>
  <p class="text-sm pb-6">&copy; {{ metadata.author.name }} 2020 - Present. <strong>All rights reserved</strong></p>
</footer>