<nav>
    <div class="container flex items-center justify-center p-4 mx-auto capitalize max-w-2xl px-4 flex-wrap">
      {% for entry in collections.all | eleventyNavigation %}
        {%if entry.url == page.url%}
          <a href="{{ entry.url | url }}" aria-current="page" class="mx-3 sm:mx-6">{{ entry.title }}</a>
        {% else %}
          <a href="{{ entry.url | url }}" class="mx-3 sm:mx-6">{{ entry.title }}</a>
        {% endif %}
      {% endfor %}
        {% if showRSS === true %}
          <a href="{{ '/feed/feed.xml' | url }}" class="mx-3 sm:mx-6">RSS</a>
        {% endif %}
    </div>
</nav>