<nav>
    <ul class="container flex items-center justify-center p-4 mx-auto capitalize max-w-2xl px-4 flex-wrap">
      {% for entry in collections.all | eleventyNavigation %}        
        <li class="mx-3 my-1 sm:mx-6"><a href="{{ entry.url | url }}" {%if entry.url == page.url%}aria-current="page"{% endif %} class="{%if entry.url == page.url%}underline{% endif %}">{{ entry.title }}</a></li>
      {% endfor %}
      {% if showRSS === true %}
        <li class="mx-3 my-1 sm:mx-6"><a href="{{ '/feed/feed.xml' | url }}">RSS</a></li>
      {% endif %}
    </ul>
</nav>