<div>
  <time class="pt-12 mb-3 text-sm font-normal text-gray-500 block" datetime="{{ page.date | htmlDateString }}">{{ post.date | readableDate }}</time>
  <h2 class="mb-2 text-xl font-extrabold leading-snug tracking-tight md:text-3xl">
    <a href="{{ post.url | url }}" class="text-gray-900 hover:text-purple-700">{{ post.data.title }}</a>
  </h2>
  <p class="mb-4 text-base font-normal text-gray-600">{{ post.data.excerpt }}</p>
  <a href="{{ post.url | url }}" class="btn btn-light btn-sm">Continue Reading</a>
</div>