<li class="mt-12 relative border-b-gray-200 border-b">
  <time class="block mb-3 text-sm font-normal" datetime="{{ page.date | htmlDateString }}">{{ post.date | readableDate }}</time>
  <h2 class="mb-2 text-xl font-extrabold leading-snug tracking-tight md:text-3xl">
    <a href="{{ post.url | url }}" class="hover:underline after:content-[' '] after:absolute after:top-0 after:left-0 after:right-0 after:bottom-0">{{ post.data.title }}</a>
  </h2>
  <p class="mb-4 text-base font-normal">{{ post.data.excerpt }}</p>
</li>